{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block page %}
{{ error }}
<div class="card">
    <h5 class="text-center card-header"> <b>Create</b></h5>
    <div class="card-body">
        <br>
        {% if  show == True %}
       
        <div style="padding:10px; background: rgba(255, 222, 113, 0.548); border:1px dashed rgba(250, 0, 0, 0.212);">
       
      <div class="text-center"> Рекомендации и правила</div>  <hr> 
      1. Отправлять сообщения и комментарии рекламного характера, а также содержащие внешние ссылки, за исключением ссылок на сайты социальных сетей ("В контакте", "Одноклассники", "онлайн-дневники" и т. п.).

2. Обсуждать действия модераторов и администраторов чата и форума за исключением специального раздела форума. Пользователь может однократно указать модератору или администратору на нарушение правил чата другим пользователем.
3. Заниматься попрошайничеством и выпрашивать дополнительные привилегии у администрации.
4. Заниматься пропагандой расовой и национальной дискриминации, насилия, рекламой наркотиков, порнографии, призывать к свержению законной власти силовым путем, а также любые другие действия и призывы противоречащие действующему законодательству РФ.
5. Отправлять какие-либо сообщения и комменатрии, размещать картинки/фотографии или использовать ники, оскорбляющие общепринятые нормы нравственности.

    </div>
   
      <hr>
      {% endif %}
      {% if  request.COOKIES.visits_creates == "False" %}
     
      {% endif %}
        <br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {% bootstrap_form gig_form %}
            <br>
            {% buttons %}
            <button type="submit" class="btn btn-pink float-right">Create gig</button>
            <br>
            {% endbuttons %}
        </form>
    </div>

</div>
{% endblock %}