{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
{% load bootstrap3%}


<style>
    .Hide {
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div style="padding:20px;">
                <h5 class="text-center"> {{ gig.get_category_display}}
                </h5>
                <hr>


                <h5 class="text-center "> Tasks </h5>

                {{gig.tasks|safe}}
                <!-- <img src="/media/{{gig.photo}}" style="display: block;margin: auto;" alt="" class="img-fluid ">-->




                <h5 class="text-center "> Answers </h5>


                {{gig.answers|safe}}

                <h5 class="text-center">
                    Speaking
                </h5>

                <audio style="background: rgb(255, 255, 255); width: 100%;" class="horizontal-alignment" controls>
                    <source src="/media/{{gig.songfile}}" type="audio/mpeg">

                </audio>



            </div>



        </div>

        <div class="card wrapperBlock" id="{{gig.user.id}}" onclick="myFunction('{{ gig.user.id }}')" data-url="{% url 'profile' gig.user.username %}">
            <div style="padding:20px;">


                <img src="/media/{{gig.user.profile.logo}}" style="clip-path: circle(50.1% at 50% 50%); object-fit: cover;"
                    width="85px" height="85px">
                <div style="display:inline-block; position: absolute; margin-left:10px;">
                    {{profile.user.username}}
                    <br>
                    {{profile.status}}

                </div>





            </div>
        </div>




        {% for comment in comments%}

        <div class="comment-wrapper" style=" border-left:3px solid #007BFF;">

            {{comment.content|safe}}

            {{comment.user}}
            <br>
            <a href="{% url 'profile' comment.user %}">See profile</a>
            <span CLASS="float-right">{{comment.timestamp}}</span>
        </div>

        {% endfor %}

        {% if profile.role == 'teacher' %}
        
       
   
        {% endif %}

        {% if user.profile.role == 'learner' %}
      
       {% endif %}
       {% if user.profile.role == 'teacher' %}
       <div style="padding:1px;  padding-bottom:10px;  background:#F8F8F8;   ">
        <form action="." method="POST" class="text-center">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" value="Evaluate the answer" class="btn btn-pink ">
        </form>
    </div>
        {% endif %}
       
       
    </div>



</div>



</div>

{% endblock %}