{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}


<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">     {{gig.title}} </h5>
                <hr/>
                <img src="/media/{{gig.photo}}"style="display: block;margin: auto;"  alt="" class="img-fluid ">
            </div>
        </div>

        <div class="card">
            </h5> Description </h5>
                <div class="card-body">
                    {{gig.description}}
                   
                </div>

    </div>
</div>

{% endblock %}