{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}



<style>
    .Hide {
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-8" >
        <div class="card">
            <h5 class="text-center card-header"> {{gig.title}} </h5>
            <div class="card-body">

                <img src="/media/{{gig.photo}}" style="display: block;margin: auto;" alt="" class="img-fluid ">
            </div>
        </div>

        <div class="card">
            <h5 class="text-center card-header"> Description </h5>
            <div class="card-body">
                {{gig.description}}
            </div>
        </div>
    </div>

    <div class="col-md-4" >
        <div class="card wrapperBlock" id="{{gig.user.id}}" onclick="myFunction('{{ gig.user.id }}')"  
        data-url="{% url 'profile' gig.user.username %}">

            <div class="card-body">
                <div class="text-center"  >
                    <img src="/media/{{gig.user.profile.logo}}" style="clip-path: circle(50.1% at 50% 50%); object-fit: cover;"
                        width="85px" height="85px">
                </div>
                <hr>
                {{gig.description}}


            </div>
        </div>
    </div>

</div>

{% endblock %}