{% extends 'base.html' %}
{% load bootstrap3% }
{% load staticfiles %}
{% block title %}
Home
{% endblock %}

{% block page %}
<div class="content-wrapper" :class="{'content-wrapper-open': !isOpen}">
    <div class="row">
        {% for gig in gigs %}
    
        <div class="col-lg-4 wrapper-thumbnail alink">
            <input type="hidden" id="Url" data-url="{% url 'gig-detail' gig.id %}" />
            <img class="img-thumbnail" href="{% url 'gig-detail' gig.id %}" src="/media/{{gig.photo}}" alt="Generic placeholder thumbnail">
            <hr>
            <div class="gig-title text-center">
               {{gig.title}} 

            </div>
            <hr>
            <br>
            <br>
            <div class="gig-bottom">
                <p><span>by {{gig.user.username}}</span></p>
            </div>

        </div>

        {% endfor%}
    </div>
</div>









<!-- <div class="card">
        <div class="card-body">
            <h3 class="text-center"> <b>{% block heading %}gigi{% endblock %}</b></h3>
          
      
        </div>
    </div> -->

<!-- <p> ${ message }$ </p> -->


{% endblock %}