{% extends 'base.html' %}
{% load bootstrap3% }
{% block title %}
Home
{% endblock %}

{% block page %}

<div class="text-uppercase">
    Dashboard
    <a href="" class="list-group-item">task 1</a>
    <a href="" class="list-group-item">task 2</a>
    <a href="" class="list-group-item">task 3</a>
</div>


<div class="list-group text-center">
    <span class="text-uppercase">
    Dashboard
    <a href="" class="list-group-item">task 1</a>
    <a href="" class="list-group-item">task 2</a>
    <a href="" class="list-group-item">task 3</a>
    </span>
    </div>

<div class="list-group text-center">
    <span class="text-uppercase">
    Dashboard
    <a href="" class="list-group-item">task 1</a>
    <a href="" class="list-group-item">task 2</a>
    <a href="" class="list-group-item">task 3</a>
    </span>
    </div>

<div class="list-group text-center">
    <span class="text-uppercase">
    Dashboard
    <a href="" class="list-group-item">task 1</a>
    <a href="" class="list-group-item">task 2</a>
    <a href="" class="list-group-item">task 3</a>
    </span>
    </div>


<div class="list-group text-center">
    <span class="text-uppercase">
    Dashboard
  
    <a href="" class="list-group-item">task 1</a>
    <a href="" class="list-group-item">task 2</a>
    <a href="" class="list-group-item">task 3</a>
    </span>
    </div>

<div >

<div class="list-group text-center">
        <span class="text-uppercase">
        Dashboard
      
        <a href="" class="list-group-item">task 1</a>
        <a href="" class="list-group-item">task 2</a>
        <a href="" class="list-group-item">task 3</a>
        </span>
        </div>
    
    <div >

<div class="list-group text-center">
        <span class="text-uppercase">
        Dashboard
      
        <a href="" class="list-group-item">task 1</a>
        <a href="" class="list-group-item">task 2</a>
        <a href="" class="list-group-item">task 3</a>
        </span>
        </div>
    
    <div >

<div class="list-group text-center">
        <span class="text-uppercase">
        Dashboard
      
        <a href="" class="list-group-item">task 1</a>
        <a href="" class="list-group-item">task 2</a>
        <a href="" class="list-group-item">task 3</a>
        </span>
        </div>
    
    <div >
    
    <p> ${ message }$ </p>
</div>

{% endblock %}


