{% extends 'base.html' %}
{% load bootstrap3% }
{% load staticfiles %}
{% block title %}
Home
{% endblock %}

{% block page %}
<div class="content-wrapper">
<div class = "row">
       
    {% for gig in gigs %}
    <div class = "col-lg-2 wrapper-thumbnail">
       <a href = "#"></a>
          <img class="img-thumbnail" href="{% url 'gig-detail' gig.id %}" src = "/media/{{gig.photo}}" alt = "Generic placeholder thumbnail">
        </a>
            <div class="caption">
                <p><a href="{% url 'gig-detail' gig.id %}">{{gig.title}}</a></p>
            
            <p><span>by <a href="#">{{gig.user.username}}</a><b class="float-right">${{gig.price}}</b></span></p>
            </div> 
       

    </div>

    
    {% endfor%}
 </div>
 </div>









<!-- <div class="card">
        <div class="card-body">
            <h3 class="text-center"> <b>{% block heading %}gigi{% endblock %}</b></h3>
          
      
        </div>
    </div> -->
    
   <!-- <p> ${ message }$ </p> -->


{% endblock %}


