{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qualia</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleLendingPage.css' %}">
    <script src="https://unpkg.com/vue"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Document</title>
</head>
<!--style="background-image:url('../../static/img/sky.jpg');   background-attachment: fixed;   background-repeat: no-repeat; background-size: cover;"-->

<body style="background:rgb(255, 255, 255);     background-repeat: no-repeat; background-size: cover;">
   
    <div class="header">
        <div class="textHeader "><a style=" text-decoration:none;" href="{% url 'lending-page' %}">Qualia
            </a> </div>
        <div class="headerUserWrapper">    <a style=" border: 1px solid #DADCE0;" class="btn btn-light " id="login" href="{% url 'task-sign-in' %}" type="submit" >  
                Log in </a>  </div>
    </div>
    <div class="container" style="background: rgb(250, 247, 247);border-top:1px solid  rgba(70, 70, 70, 0.178);">




        <div class="titleWrapper">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil harum voluptatibus in deleniti tenetur. Illo eum earum totam? Necessitatibus mollitia quisquam tempore reiciendis dolore. Illum sequi distinctio iure ullam dolorum!
Totam eaque voluptas, ab facilis iste amet ex aspernatur dolores minus non, illo at consequuntur earum? Repudiandae id enim, exercitationem eos, quibusdam ex totam iusto nobis error nesciunt reiciendis perspiciatis.
Beatae, debitis eius eos soluta animi aspernatur fuga neque accusantium rerum magni laboriosam illum adipisci facilis, ut nesciunt id? Illo harum quibusdam ut. Inventore odio doloremque omnis ea, saepe facilis.
        </div>
        <div class="row">
            <div class="col-lg-6 wrapperCard">
                <div class="card">
                    <div class="card-content horizontal-alignment">
                            <a style="bottom:-320px; color:white;" href="{% url 'task-sign-up-learner' %}" type="submit" class="btn   btn-pink  horizontal-alignment ">   Create
                                    learner account </a>
                    

                    </div>
                </div>
            </div>
            <div class="col-lg-6 wrapperCard">
                <div class="card">
                    <div class="card-content horizontal-alignment">
                     
                        <a style="bottom:-320px;" href="{% url 'task-sign-up-teacher' %}" type="submit" class="btn   btn-primary horizontal-alignment ">   Create
                            teacher account </a>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="footer">
        <div style="display:flex;">
      <!--  <img alt="" class="img-logo"style="height: 140px;background:rgb(255, 255, 255);  position: relative; width:auto;" src="{% static 'img/q.png' %}">
        <div style=" width:100%; height: 140px ; background:rgb(255, 255, 255); "></div>
  </div> --> 
        <div style="width:100%; padding:30px; border-top:1px solid rgba(70, 70, 70, 0.178);line-height:30px; background:rgb(255, 255, 255);">©2018 Qualia – All rights reserved.</div>
    </div>

    <script src="{% static 'js/lending.js' %}"> </script>

</body>

</html>