{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

<div class="card">
    <h4 class="text-center card-header"> My gigs</h4>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="">
                <tr>
                  <th>
                        <th> title</th>
                        <th>create time</th>
                        
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for gig in gigs %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'gig-detail' gig.id %}">  {{ gig.get_category_display}}
                        </a></td>
                    <td>{{gig.create_time}}</td>
                    

                </tr>
                {% endfor %}
            </tbody>

        </table>


    </div>

</div>

{% endblock %}