{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

<div class="card">
    <div class="jumbotron text-center">
            <img class="logo" src=" {% if user.profile %} {{MEDIA_URL}}{{request.user.profile.logo}} {% else %} {% static 'img/man-under-tree-512.png' %} {% endif %}"
            width="85" height="85">
               <h3>{{profile.user.username}} </h3> 
                <p>
                    {{profile.role}}
                    <br>
                    {{profile.status}}
                </p>
                
    </div>
  
          
        
</div>

{% endblock %}